services:
  immich-server:
    container_name: immich_server
    image: ghcr.io/immich-app/immich-server:v2.3.1
    volumes:
      - ${FOLDER_2}/immich/data:/data
      - /etc/localtime:/etc/localtime:ro
    environment:
      IMMICH_MACHINE_LEARNING_URL: false
      DB_PASSWORD: ${DB_PASSWORD:?}
      DB_USERNAME: ${DB_USERNAME:?}
      DB_DATABASE_NAME: ${DB_DATABASE_NAME:?}
    ports:
      - 2283:2283
    depends_on:
      - redis
      - database
    restart: unless-stopped
    healthcheck:
      disable: false

  redis:
    container_name: immich_redis
    image: docker.io/valkey/valkey:9.0.1-alpine
    healthcheck:
      test: redis-cli ping || exit 1
    restart: unless-stopped

  database:
    container_name: immich_postgres
    image: ghcr.io/immich-app/postgres:18-vectorchord0.5.3-pgvector0.8.1
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD:?}
      POSTGRES_USER: ${DB_USERNAME:?}
      POSTGRES_DB: ${DB_DATABASE_NAME:?}
    volumes:
      - ${FOLDER_2}/immich/db:/var/lib/postgresql
    restart: unless-stopped
