services:
  certbot:
    image: certbot/dns-cloudflare:v5.1.0
    command: renew
    volumes:
      - ./letsencrypt:/etc/letsencrypt
      - ./certbot_secrets.ini:/etc/letsencrypt/secrets.ini
    profiles:
      - certbot

  nginx:
    image: nginx:1.29.3-alpine
    container_name: server_nginx
    ports:
      - 443:443
    volumes:
      - ./letsencrypt:/etc/letsencrypt
      - ./config:/etc/nginx/conf.d
    restart: unless-stopped
