services:
  jellyfin:
    image: jellyfin/jellyfin:10.11.1
    environment:
      JELLYFIN_PublishedServerUrl: https://jellyfin.earlopain.dev
    user: 1000:1000
    volumes:
      - ${FOLDER_2}/jellyfin/config:/config
      - ${FOLDER_2}/jellyfin/cache:/cache
      - ${FOLDER_2}/media:/media
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
      - /dev/dri/card1:/dev/dri/card1
    ports:
      - 8096:8096
