services:
  web:
    image: ghcr.io/karakeep-app/karakeep:0.28.0
    environment:
      DISABLE_SIGNUPS: true
      MAX_ASSET_SIZE_MB: 500

      DATA_DIR: /data
      MEILI_ADDR: http://meilisearch:7700
      NEXTAUTH_URL: https://karakeep.earlopain.dev
      NEXTAUTH_SECRET: ${NEXTAUTH_SECRET}

    volumes:
      # By default, the data is stored in a docker volume called "data".
      # If you want to mount a custom directory, change the volume mapping to:
      # - /path/to/your/directory:/data
      - $FOLDER_2/karakeep:/data
    ports:
      - 8751:3000
    restart: unless-stopped

  meilisearch:
    image: getmeili/meilisearch:v1.25.0
    environment:
      MEILI_NO_ANALYTICS: true
    volumes:
      - meilisearch:/meili_data

volumes:
  meilisearch:
